.card-body {
    height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

.card-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}