{% extends "base.jinja" %}
{% block title %} API Documentatie {% endblock %}
{% block logout %} {% endblock %}
{% block content %}
    <div class="p-5">
        <h1 class="">API Documentatie</h1>
        <hr class="pb-3">
    </div>
{% endblock %}