{% extends "base.jinja" %}
{% block title %} Admin {% endblock %}
{% block head %}
    <link
      rel="stylesheet"
      href="{{ url_for('.static', filename='css/home.css') }}"
    />
{% endblock %}
{% block logout %} {% endblock %}
{% block content %}
    <h1 class="text-center mt-5">Welkom Bij Stichting Accesibility HUB!</h1>
    <section class="p-5">
      <div class="container">
        <h2 class="text-center mb-5">Kies uw rol:</h2>
        <div class="row">
          <div class="col">
              <a href="{{ url_for('frontend.documentation') }}" class="text-decoration-none">
              <!--link naar inlogpagina voor onderzoeksbureau-->
                <div class="card bg-light-subtle border-dark-subtle rounded">
                <div class="card-body text-center">
                    <img src="{{ url_for('.static', filename='img/onderzoeksbureau.png') }}"
                    class="login-card-img rounded-circle mb-3"
                    alt="onderzoeksbureau"
                  />
                  <h3 class="card-title">Onderzoeksbureau</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
              <a href="{{ url_for('frontend.login_admin') }}" class="text-decoration-none">
              <!--link naar inlogpagina voor stichting accesibility-->
                <div class="card bg-light-subtle border-dark-subtle rounded">
                <div class="card-body text-center">
                    <img src="{{ url_for('.static', filename='img/beheer.png') }}"
                    class="login-card-img rounded-circle mb-3"
                    alt="stichting Accesibility"
                  />
                  <h3 class="card-title">Stichting Accesibility</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
              <a href="{{ url_for('frontend.peer_home') }}" class="text-decoration-none">
              <!--link naar inlogpagina voor ervaringsdeskundige-->
                <div class="card bg-light-subtle border-dark-subtle rounded">
                <div class="card-body text-center">
                    <img src="{{ url_for('.static', filename='img/ervaringsdeskundige.png') }}"
                    class="login-card-img rounded-circle mb-3"
                    alt="ervaringsdeskundige"
                  />
                  <h3 class="card-title">Ervaringsdeskundige</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}