{% extends "base.jinja" %}
{% block title %} Ervaringsdeskundige dashboard {% endblock %}
{% block head %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link
            rel="stylesheet"
            href="{{ url_for('.static', filename='css/peer_dashboard.css') }}"
    />
{% endblock %}
{% block content %}
    <div class="pt-5 px-5 pb-4">
        <h1>Ervaringsdeskundige dashboard</h1>
        <div id="error-message" class="alert alert-danger mt-4" style="display: none;" role="alert"></div>
    </div>

    <!-- Tab navigation -->
    <ul class="nav nav-tabs px-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="open-tab" data-bs-toggle="tab" href="#open" role="tab"
               aria-controls="open onderzoeken" aria-selected="true">Open onderzoeken <span id="open-card-count"
                                                                                            class="ms-2 badge text-bg-primary"></span></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ingeschreven-tab" data-bs-toggle="tab" href="#ingeschreven" role="tab"
               aria-controls="ter beoordeelde onderzoeken" aria-selected="false">Ter beoordeelde onderzoeken <span
                    id="registered-card-count" class="ms-2 badge text-bg-primary"></span></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="gekeurd-tab" data-bs-toggle="tab" href="#gekeurd" role="tab"
               aria-controls="beoordeelde onderzoeken" aria-selected="false">Beoordeelde onderzoeken <span
                    id="rated-card-count" class="ms-2 badge text-bg-primary"></span></a>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content mx-5" id="myTabContent">
        <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open-tab">
            <div class="container-fluid py-4">
                <div id="open-card-container" class="d-flex flex-row flex-wrap gap-2">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="ingeschreven" role="tabpanel" aria-labelledby="ingeschreven-tab">
            <div class="container-fluid py-4">
                <div id="registered-card-container" class="d-flex flex-row flex-wrap">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="gekeurd" role="tabpanel" aria-labelledby="gekeurd-tab">
            <div class="container-fluid py-4">
                <div id="rated-card-container" class="d-flex flex-row flex-wrap">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="researchModal" tabindex="-1" aria-labelledby="researchModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="researchModalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="researchModalBody"></p>
                    <div class="px-2 row">
                        <table class="col table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="w-auto" scope="row">Startdatum:</th>
                                <td class="w-100" id="researchStartDate"></td>
                            </tr>
                            <tr>
                                <th class="w-auto" scope="row">Einddatum:</th>
                                <td class="w-100" id="researchEndDate"></td>
                            </tr>
                            <tr>
                                <th class="w-auto" scope="row">Locatie:</th>
                                <td class="w-100" id="researchLocation"></td>
                            </tr>
                            <tr>
                                <th class="w-auto" scope="row">Doelgroep Leeftijd:</th>
                                <td class="w-100" id="researchAgeRange"></td>
                            </tr>
                            <tr>
                                <th class="w-auto" scope="row">Beloning:</th>
                                <td class="w-100" id="researchReward"></td>
                            </tr>
                            <tr>
                                <th class="w-auto" scope="row">Beperkingen:</th>
                                <td class="w-100" colspan="2">
                                    <ul id="researchLimitations"></ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-auto px-2"></div>
                        <div id="map" class="col-auto" style="width: 500px"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="interest-button" type="button" class="btn btn-primary">Geïnteresseerd</button>
                    <div class="mx-auto"></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('.static', filename='js/peer_dashboard.js') }}"></script>
{% endblock %}