{% extends "base.jinja" %}
{% block title %} Ervaringsdeskundige dashboard {% endblock %}
{% block content %}
    <div class="p-5">
        <h1 class="">Dashboard</h1>
        <hr class="pb-3">
    </div>
{% endblock %}