{% extends "base.jinja" %}
{% block title %} Sign-in page {% endblock %}
{% block content %}
    <h1 class="sign-in-title center">Log in:</h1>
    <form action="#" method="post">
        <div class="input-area center">
            <div>
                <input type="text" class="input-fields" id="email-adres" placeholder="email-adres" required>
                <label for="email-adres"></label>
            </div>
            <div>
                <input type="text" class="input-fields" id="password" placeholder="wachtwoord" required>
                <label for="password"></label>
            </div>
            <button class="submit-button">Inloggen</button>
        </div>
    </form>
{% endblock %}